@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body {
    font-size: 100%;
}

.menu-item {
    position: relative;
    font-size: 16px;
    color: rgb(39, 39, 39);
    text-decoration: none;
    padding: 40px;
    color: initial;
    height: 80px;
    }

    a:hover {
        color: initial;
    }

    .categoria {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        color: rgb(39, 39, 39);
        text-decoration: none;
        color: initial;
    }

.content {
    height: calc(100vh - 80px);
    width: 100%;
    padding: 200px 5%;
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    justify-content: center;
}

.left-side h1{
    font-size: 50px;
    color: rgb(39, 39, 39);
}

.left-side p{
    color: rgb(39, 39, 39);
    margin-bottom: 30px;
}

.left-side span {
    font-size: 30px;
    font-weight: 500px;
}

.left-side a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 39, 39);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 6px;
    margin-top: 10px;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    padding-bottom: 60px;
}

#footer {
    position: relative;
    padding: 10px;
    text-decoration: none;
}

#back {
    position: relative;
    background-color: rgb(185, 185, 185);
    text-decoration: none;
    }
